* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* slidebar  */ /* slidebar  */ /* slidebar  */
.lower {
  display: flex;
  height: 100%;
}
main {
  width: 100%;
}
.sidebar {
  background: #000;
  color: #fff;
  width: 200px;
  height: 86vh;
  transition: all 0.5s;
}

.link {
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover {
  background: lightskyblue;
  color: #000;
  transition: all 0.5s;
}
.active {
  background: lightskyblue;
  color: #000;
}
.icon,
.link_text {
  font-size: 20px;
}
.top {
  float: left;
  display: flex;
}
#buttoon {
  margin-left: 20%;
  margin-right: 20%;
}

table {
  border-collapse: collapse;
  min-width: 100%;
}

.upper-buttons {
  text-align: center;
  word-break: break-all;
  border-bottom: 1px solid lightgray;
}
.upper-buttons td {
  padding: 5px;
}

.main-table {
  text-align: center;
}

.main-table tr {
  padding: 100px;
  border-bottom: 1px solid lightgray;
}

/* NAV BAR */ /* NAV BAR */ /* NAV BAR */
.nav {
  background: rgb(31, 31, 31);
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.logo-image img {
  width: 170px;
  height: 100px;
}

.nav ul {
  margin: 0;
  list-style: none;
  display: flex;
  gap: 3rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
  font-size: 1.5rem;
}

.nav li:active {
  background-color: #555;
}

/* pagination */ /* pagination */ /* pagination */
.pagination {
  padding: 40px;
  float: right;
}

.loginInputs {
  background-color: gray;
  text-align: center;
  margin: 0px;
  height: 100vh;
  padding-top: 10%;
  padding-left: 40%;
  padding-right: 40%;
}

.loginLogo {
  padding-bottom: 50px;
}

.inputs {
  padding: 100%;
}
